

<div class="container full-screen">
  <section class="row">
    <h1 class="title">Miami Cocktails</h1>
    <hr/>
    <div class="col-xs-8 col-xs-offset-2">
      <p class="lead text-center">Now you can make amazing Miami inspired cocktails from home</p>
      <hr/>
    </div>
  </section>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= render 'shared/card', cocktail: cocktail %>
    <% end %>
</div>






