<div class="navbar navbar-expand-sm navbar-light navbar-cocktails">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end w-100">
       <%= render 'shared/create-button' %>

    </div>
  </div>
</div>
